@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rowdies:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive;
}
.background
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #212121;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    color: #fff;
}
.background h1
{
    margin: 20px;
}
.background input
{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 10px;
    padding: 5px;
    background-color: #fece00;
    color: #212121;
}
.btns
{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 10px;
    padding: 5px;
    background-color:#212121;
    color: #fece00;
    border: 2px solid #fece00;   
}
.clicked
{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 10px;
    padding: 5px;
    background-color: #fece00;
    color: #212121;
    border: 2px solid #fece00;
    font-weight: bold;
}
.menu
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: baseline;
}
.search
{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.card img
{
    width: 210.5px;
    height: 307px;
    margin: 1px 3px;
}

/* LOGIN */

.img-login
{
    height: 90vh;
    margin-top: 50px;
    margin-right: 50%;
    position: absolute;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));

}
.home
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #212121;
    height: 100%;
    min-height: 100vh;
    width: 100%;  
}
.home div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 200px;
    margin-left: 55%;
    position: absolute;
}
.home div h1
{
    color: #fece00;
    font-size: 800%; /* Localmente era 400% Aumentei para 800% para o github pages */
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
}
.home div p /* Classe inteira feita para o github pages */
{
    font-size: 400%;
}
.link
{
    margin-top: 5px;
    text-decoration: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 10px;
    padding: 5px;
    background-color:#212121;
    color: #fece00;
    border: 2px solid #fece00;
    transition: 0.5s;
    text-align: center;
    font-size: xx-large;
    width: 25%;
}
.link:hover
{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 10px;
    padding: 5px;
    background-color: #fece00;
    color: #212121;
    border: 2px solid #212121;
    font-weight: bold;
    transition: 0.5s; 
}

/* DETAILS */

.details
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #212121;
    height: 100%;
    min-height: 100vh;
    width: 100%;  
    color: #fff;
}
.details img
{
    width: 350px;
    margin-left: 30px;
}
.details div
{
    margin-left: 30px;
    margin-right: 30px;
    max-width: 500px;
}
.details div h1
{
    text-align: center;
    color: #fece00;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
}
.details div h2
{
    color: #fece00;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
}
.details div p
{
    color: #fff;
}
.details div div
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items:start;
    color: #fff;
    margin-bottom: 20px;
}
.details div .link
{
    display: flex;
    justify-content: center;
}
